<div class="container" ng-controller="ChatController">
	<h1 class="well"><center><font face="Monotype Corsiva">Chat</font></center></h1>
	<div class="col-lg-12 well">
		<div class="row">
			<form ng-submit="sendMessage()" name="chatMessage">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6 form-group">
							<label>Message</label>
							<input type="text" name="email_id" ng-model="message" placeholder="Enter Message Here" 
							class="form-control"/>
							<span class="count" ng-bind="max-message.length">140</span>
						</div>
					</div>
				</div>
				<button ng-disabled="message.length>140||message.length==0" class="btn btn-lg btn-info">Send</button>
			</form>
		</div>
	</div>
	
	<div ng-repeat="message in message|orderBy:'time':true">
	
		<time>{{message.time|date:"d-MMM-yy 'at' HH:mm:ss"</time>
		<span>{{message.message}}</span>
	
	</div>
	
</div>