<div ng-controller="UserController">
	<div class="col-md-4">
		<div>
			<!-- <img src="http://localhost:8081/CollaborationRestService/user/get/image/{{currentUser.email_id}}." 
				height="300px" width="250px" onerror=this.src="images/default.jpg"> -->
			<img ng-src="http://localhost:8081/CollaborationRestService/user/get/image/{{currentUser.email_id}}."
				altSrc="http://localhost:8081/CollaborationRestService/user/get/image/default@gmail.com." 
				onerror="this.src = $(this).attr('altSrc')">
		</div>
		<!-- <div ng-show="currentUser.image==null">
			<img src="./images/defaultUser.jpg" height="300px" width="250px">
		</div> -->
	</div>
	<div class="col-md-8">
		<h1 class="well">
			<center>
				<font face="Monotype Corsiva">Edit Profile</font>
			</center>
		</h1>
		<div>
		<form enctype="multipart/form-data" method="post" action="http://localhost:8081/CollaborationRestService/user/upload">
			<label> Upload Image </label>
			<input name="image" class="form-control" type="file" placeholder="Upload Image">
			<button type="submit">Upload Image</button>
		</form>
		<!-- <div class="form-group">
            <input class="file" type="file" 
            name="image"
            data-preview-file-type="any" 
            data-upload-url="http://localhost:8081/CollaborationRestService/user/upload">
        </div> -->
		</div>
		<div class="col-lg-12-well">
			<div class="row">
				<form method="post">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label> Email ID: </label> 
								<input type="text" name="email_id" ng-model="currentUser.email_id"
									placeholder="Enter Email ID" class="form-control" readonly/>
							</div>
							<div class="col-sm-6 form-group">
								<label> Name: </label> 
								<input type="text" name="name" ng-model="currentUser.name"
									placeholder="Enter Name" class="form-control" />
							</div>
							<div class="col-sm-6 form-group">
								<label> Password: </label> 
								<input type="password" name="password" ng-model="currentUser.password" placeholder="Enter Password"
									class="form-control" readonly/>
							</div>
							<div class="col-sm-6 form-group">
								<label> Mobile: </label>
								<input type="text" name="mobile" ng-model="currentUser.mobile" placeholder="Enter Mobile"
									class="form-control"/>
							</div>
						</div>
						<input type="button" ng-click="editProfile()"
							class="btn btn-lg btn-info" name="editProfile" value="Edit Profile" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
