<html>
<body>
<div ng-controller="UserController" class="container-fluid">
	<form method="post" class="register-form">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4">
				<label for="email_id">Email ID</label>
				<input name="email_id" class="form-control" ng-model="user.email_id" type="text" placeholder="Enter EmailID">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4">
				<label for="password">Password</label>
				<input name="password" class="form-control" ng-model="user.password" type="password" placeholder="Enter Password">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<button class="btn btn-default logbutton" ng-click="login()" value="Login">Login</button>
			</div>
		</div>
	</form>
</div>
</body>
</html>
