<html>
<body>
<div ng-controller="UserController" ng-show="currentUser==undefined">
<div class="container-fluid">
	<form enctype="multipart/form-data" method="post" class="register-form">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4">
				<label for="email_id">Email ID</label>
				<input name="email_id" class="form-control" ng-model="user.email_id" type="email"
					maxlength="30" placeholder="Enter EmailID">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4">
				<label for="name">Name</label>
				<input name="name" class="form-control" type="text" ng-model="user.name" placeholder="Enter Name"
					maxlength="20">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4">
				<label for="password">Password</label>
				<input id="password" name="password" class="form-control" ng-model="user.password" type="password"
					maxlength="20" placeholder="Enter Password" onkeyup="passwordStrength();">
				<span id="strength">Type Password</span>
<script language="javascript">
function passwordStrength() {
var strength = document.getElementById('strength');
var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
var enoughRegex = new RegExp("(?=.{6,}).*", "g");
var pwd = document.getElementById("password");
if (pwd.value.length==0) {
strength.innerHTML = 'Type Password';
} else if (false == enoughRegex.test(pwd.value)) {
strength.innerHTML = 'More Characters';
} else if (strongRegex.test(pwd.value)) {
strength.innerHTML = '<span style="color:green">Strong!</span>';
} else if (mediumRegex.test(pwd.value)) {
strength.innerHTML = '<span style="color:orange">Medium!</span>';
} else {
strength.innerHTML = '<span style="color:red">Weak!</span>';
}
}
</script>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4">
				<label for="confirmPassword">Confirm Password</label>
				<input name="confirmPassword" class="form-control" type="password" id="confirmPassword"
					maxlength="20" placeholder="Confirm Password" onkeyup="validatePasswordMatch()">
				<span id="strengthID1">Type Confirm Password</span>
				
<script>
var password = document.getElementById('password');
var confirmPassword = document
		.getElementById('confirmPassword');
function validatePasswordMatch() {
	var strength = document.getElementById('strengthID1');
	var passValue = password.value;
	var conPassValue = confirmPassword.value;
	if (passValue != conPassValue) {
		strength.innerHTML = '<span style="color:red">Not Match!</span>';
		/* alert('password mismatch!') */
	} else {
		strength.innerHTML = '<span style="color:green">Password Matched!</span>';
	}
}
</script>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4">
				<label for="mobile">Mobile</label>
				<input name="mobile" class="form-control" ng-model="user.mobile" type="text"
					maxlength="10" placeholder="Enter Mobile">
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4">
				<label for="image">Image</label>
				<input name="user.image" ng-model="user.image" class="form-control" type="file" placeholder="Upload Image">
			</div>
		</div> -->
		<hr>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
			<!-- <input type="button" ng-click="register()" class="button" name="register" value="Register" /> -->
			<button class="btn btn-default regbutton" ng-click="register()" value="Register">Register</button>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
				<a href="#/login"><button class="btn btn-default logbutton">Login</button></a>
			</div>
		</div>
	</form>
</div>
</div>
<div ng-show="currentUser!=undefined">
	You are already logged in.
</div>

</body>
</html>